* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Kumbh Sans;
  overflow-x: hidden;
  box-sizing: border-box;
  color: black;
}

.Signup-page-body h1 {
  font-size: 3rem;
  color: rgb(74, 4, 76);
  text-shadow: 5px 5px 5px rgba(63, 21, 21, 0.5);
  font-weight: bolder;
  text-align: center;
  font-family: Kumbh Sans;
}
.container {
  width: fit-content;
}

.row {
  /* margin-left: 350px; */
  width: 100%;
  border-radius: 1rem;
  border-radius: 20px;
  box-shadow: 0 5px 5px 10px rgb(240, 239, 239);
}

.Signup-header p {
  text-align: center;
}

.searchbar input {
  width: 100%;
  border: 1px solid #9a9797;
  border-radius: 5px;
}

.Signup-header p {
  color: rgb(28, 21, 124);
  text-shadow: 2px 5px 4px rgba(63, 21, 21, 0.5);
  font-weight: bolder;
}

.signup-submit-button button {
  width: 50%;
  background-color: rgb(62, 10, 165);
  border: none;
  color: #fff;
  border-radius: 0.5rem;
}

.signup-right-section {
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
}

.signup-right-section img {
  width: 100%;
  margin-top: 50px;
}
